body{
background-color: #2C2B3D;
color: #C2C2C2;
margin: 0 20px 20px 20px;


}

#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 72px 99px 102px 99px;
}


#menu ul{
    display: flex;
    list-style: none;
    gap: 64px;
    margin: 0;
    padding: 0;
}
#page p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

#page h1{
    font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 40px;
}

ul li a{
    text-decoration: none;
    color: #C2C2C2;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
}

ul li :hover{
    color: #838080;
}

#page {
    display: flex;
    justify-content: space-between;
    margin-left: 99px;
    margin-right: 99px;
    margin-bottom: 157px;
    gap: 50px;
    
}
span{
    color: #00BFA6;
}

strong{
    font-style: bold;
}
footer{
font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;

text-align: center;

display: flex;
justify-content: flex-start;
gap: 320px;


}

.linha{
    border-top: solid 1px #00BFA6 ;
    width: 568px;
    height:0;
    margin: 0 auto 8px;

}

footer a{
    font-style: normal;
    color: #FFFF;
    text-decoration: none;
}

footer a :hover{
    color: #e9e1e1;
}

#cadeado{
border: solid 1px red;
}